@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--black);
  background: var(--beige);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* font-family: var(--font-poppins); */
  font-family: var(--font-ibm-plex-sans);
}

p {
  font-family: var(--font-ibm-plex-sans);
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  @apply transition duration-150 ease-in-out;
}

*::-webkit-scrollbar {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-size: 25px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 5px;
  --swiper-navigation-color: var(--blue);
}
